.App {
    color: var(--textColor);
}

.Header {
    width: 100%;
    height: 10vh;
    background-color: lightgray;
    text-align: center;
    padding: 20px;
}

.Header img {
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    grid-gap: 2rem;
    max-width: 90%;
    margin: 20px auto;
}

.card {
    position: relative;
}

.card .img-model {
    width: 100%;
}

.wrapper-card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.wrapper-card .header-card {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    justify-items: center;
    grid-gap: 20px;
    margin: 20px 20px;
}

.header-card .photo-profil {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px 0 0 10px;
}

.header-card .title-card {

}

.header-card .logo {
    height: 60px;
    margin-top: 20px;
}

.dashboard {
    padding: 1rem;
}
