@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --textColor: #3E3F42;
    --purple: #6977FF;
    --bg-light: #FAFAFA;
    --box: 0px 3px 6px #00000029;
}

body,
html {
    margin: 0;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
